* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #fdeada;
}
header {
    background-color: #f4b183;
    padding: 5px 5px 10px 5px;
    height: 75px;
    width: 100%;
    border-bottom-radius:2px;
    position: fixed;
    top:0px;
}
#footerdiv{
	background-color:white;
	padding:20px;
	text-align:center;
	color: black;
	margin-top: 100px;
}
#logo {
    display: inline-block;
    height: 100%;
    padding-top: 10px;
    margin-left: 10px;
    color: white;
    text-decoration-line: none;
    font-size: 35px;
    font-weight: bold;
    float: left;
    border-bottom : 5px solid #c5e0b4;
}
#loginform {
    display: inline-block;
    width: 467px;
    height: 65px;
    float: right;
}
#id, #pw {
    height: 24px;
}
#leftsidebartitle{
	background-color: orange; 
	color:white; 
	border:none; 
	border-radius:2px;
	margin-top:0;
}
.logindiv {
    display: inline-block;
    width: 180px;
    vertical-align: top;
}
#registdiv, #modifydiv {
    width: 400px;
    margin: auto;
}
.inputdiv {
    margin-bottom: 10px;
}
.registinput1, .modinput1 {
    width: 197px;
    height: 40px;
}
.registinput2, .modinput2 {
    width: 400px;
    height: 40px;
}
#v {
	background-color: inherit;
	border: none;
	cursor: pointer;
	color: white;
	font-size: 25px;
}
#v:hover {
	text-decoration-line: underline;
}
#v:focus {
	outline: none;
}
#leftsidebar {
	background-color:whitesmoke; 
	width:20%; 
	height:100%; 
	color:blue; 
	top:200px; 
	position:fixed;
	border-right:1px solid grey; 
	border-radius:2px;
	margin-left:90px;
}
#boarddiv {
	width: 38%;
	margin: 0 auto;
}
#boarddiv  textarea {
	width: 100%;
	height:50px;
	resize:none;
	vertical-align: bottom;
	border-radius:2px;
}
#file {
	display: none;
}
#imgLabel {
	display: block;
	width: 100px;
	height: 100px;
	border: 1px solid black;
	border-radius: 50%;
	background-size:contain;
	background-repeat:no-repeat;
	background-position-y:50%;
}